.car-image-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: black; */
}

.car-image-box img{
    display: block;
    max-width: 100%;
    height: auto;
}

.car-image-box-overlay-text{
    /* font-family: 'Oswald', sans-serif; */
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.8); */
    color: #000;
    /* font-weight: bold; */
    font-size: 3.2vh;
    text-align: center;
    width: 100%;
}

.car-image
{
    margin-bottom: 20px;
    opacity: 0;
}

.car-image-box-heading
{
background-image: linear-gradient(to right, #fff0d5, #ffefe1, #fff1ef, #fff5fa, #fffaff, #fbf8fc, #f7f6f8, #f4f4f4, #ebebeb, #e3e3e3, #dadada, #d2d2d2);
    background-image: linear-gradient(to right top, #cdcbc5, #e6e4db, #e8e6dd, #ebe9e0, #eeebe2, #ebebe2, #e8ece3, #e5ece4, #dde9e5, #d9e4e6, #d8dfe4, #d8dae0);
border-radius: 16px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}