.contact-icon
{
    margin-left: 0px;
}
.ready-track-page
{
background-image: linear-gradient(to right bottom, #000000, #0b0407, #110910, #140d17, #15121e, #111421, #0d1723, #071924, #031921, #00191d, #001819, #001715);}

.ready-track-page-heading
{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.contact-us-heading
{
    color: white;
}