.contact-page {
        background-image: linear-gradient(to right top, #000000, #0b0407, #110910, #140d17, #15121e, #131623, #0f1a28, #081e2c, #01222e, #00262e, #002a2d, #002d2a) !important;
        min-height: 100vh;
}

.contact-form label {
        color: white;
}

.contact-page-heading {
        color: white;
        font-family: 'Oswald', sans-serif;
}