/* CSS for larger screens */
/* CSS for larger screens */

.navbar1 {
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Rubik',sans-serif;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 10px;
  color: white;
  /* background-color: red; */
}

.logo
{
  height: 55px !important;
  margin-right: 5px;
}

.transparent {
  background-color: transparent;
}

@media (max-width: 768px) {
  .transparent {
    /* Apply different styles for max width 768px */
    /* For example: */
    background-color: rgba(0, 0, 0, 0.9);
    /* Semi-transparent background */
  }
}

.solid {
  /* background-color: #0f071e; */
  background-image: linear-gradient(to right bottom, #180c1a, #140812, #0a0307, #050203, #000000) !important;
}
